<div [ngSwitch]="currentView">
  <div *ngSwitchCase="'settings'" class="settings">
    <button mat-icon-button (click)="onClose()">
      <mat-icon aria-hidden="false" aria-label="Close">close</mat-icon>
    </button>
    <form>
      <mat-form-field>
        <input matInput placeholder="Bss section filter" [value]="statsParams.bssSectionNames" (input)="statsParams.bssSectionNames = $event.target.value">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Data section filter" [value]="statsParams.dataSectionNames" (input)="statsParams.dataSectionNames = $event.target.value">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Text section filter" [value]="statsParams.textSectionNames" (input)="statsParams.textSectionNames = $event.target.value">
      </mat-form-field>
    </form>
  </div>
  <div *ngSwitchCase="'main'" class="main">
    <div class="progress-bar">
      <mat-progress-bar *ngIf="showProgressBar" mode="indeterminate"></mat-progress-bar>
    </div>
    <div class="split-container">
      <div class="split-container-item">
        <div class="controls">
          <form>
            <mat-form-field>
              <input matInput placeholder="Path to linker .map file" #box (keyup.enter)="onEnter(box.value)" value="{{filePath}}">
            </mat-form-field>
          </form>
          <button mat-raised-button (click)="onSelect()">...</button>
          <button mat-button (click)="onSettings()">Settings</button>
        </div>
        <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        </mat-form-field>
        <p>
          <mat-checkbox style="margin-right: 20px;" (change)="toggleShowObjectFilesCheckbox($event.checked)">Show object files</mat-checkbox>
          <label>Group by: </label>
          <mat-checkbox style="margin: 5px;" checked="true" (change)="checkGroupByGroup($event.checked)">GROUP</mat-checkbox>
          <mat-checkbox style="margin: 5px;" checked="true" (change)="checkGroupByModule($event.checked)">Module</mat-checkbox>
        </p>
      </div>
      <div class="split-container-item">
        <div class="memory-table">
          <app-resources></app-resources>
        </div>
      </div>
    </div>
    <div class="split-container full-height">
      <div class="split-container-item">
        <div class="table">
          <hot-table
            [hotId]="modulesTableId"
            class="hot"
            [settings]="tableSettings"
            [data]="dataset">
              <hot-column data="textSize" [readOnly]="true" title="TEXT"></hot-column>
              <hot-column data="bssSize" [readOnly]="true" title="BSS"></hot-column>
              <hot-column data="dataSize" [readOnly]="true" title="DATA"></hot-column>
              <hot-column data="name" [readOnly]="true" title="Module"></hot-column>
          </hot-table>
        </div>
      </div>
      <div class="split-container-item">
        <div class="table">
          <hot-table
            class="hot"
            [hotId]="locationTableId"
            [settings]="locationTableSettings"
            [data]="locationTableDataset">
              <hot-column data="chip" [readOnly]="true" title="CHIP"></hot-column>
              <hot-column data="actualSize" [readOnly]="true" title="CSIZE"></hot-column>
              <hot-column data="size" [readOnly]="true" title="SIZE"></hot-column>
              <hot-column data="group" [readOnly]="true" title="GROUP"></hot-column>
              <hot-column data="name" [readOnly]="true" title="Module"></hot-column>
          </hot-table>
        </div>
      </div>
    </div>
  </div>
</div>
