.main {
  display: flex;
  flex-direction: column;
  position: absolute;
  height: auto;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  margin: 10px;
}

.settings {
  display: flex;
  flex-direction: column;
  position: absolute;
  height: auto;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  margin: 10px;
}

.settings > button {
  margin-bottom: 10px;
  align-self: flex-end;
}

.settings form {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.settings > form > mat-form-field {
  width: 300px;
}

.controls {
  width: 100%;
  margin-bottom: 20px;
  display: flex;
}

.controls form {
  flex-grow: 1;
}

.controls > form > mat-form-field {
  width: 100%;
}

.controls button {
  height: 30px;
  margin: auto 10px;
}

#tables {
  flex-grow: 1;
  display: flex;
}

.flex {
  display: flex;
}

.hot {
  overflow: hidden;
  flex-grow: 1;
}

.handsonetable > tr:nth-child(even) {
  background: burlywood;
}

.handsonetable > td {
  background-color: #fff0;
}

.hot .currentRow {
  background-color: aliceblue;
}
