.main {
  display: flex;
  min-height: min-content;
  flex-direction: column;
  position: absolute;
  height: auto;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  margin: 10px;
}

.settings {
  display: flex;
  flex-direction: column;
  position: absolute;
  height: auto;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  margin: 10px;
}

.settings > button {
  margin-bottom: 10px;
  align-self: flex-end;
}

.settings form {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.settings > form > mat-form-field {
  width: 300px;
}

.controls {
  width: 100%;
  margin-bottom: 20px;
  display: flex;
}

.controls form {
  flex-grow: 1;
}

.controls > form > mat-form-field {
  width: 100%;
}

.controls button {
  height: 30px;
  margin: auto 10px;
}

.table {
  flex-grow: 1;
  overflow: auto;
  display: flex;
}

.progress-bar {
  display: flex;
}

.split-container {
  display: flex;
  flex-direction: row;
}

.full-height {
  height: 100%;
}

.split-container-item {
  display: flex;
  flex-grow: 1;
  padding: 5px;
  flex-direction: column;
  height: 100%;
  width: 50%;
}

.memory-table {
  height: 185px;
  overflow: auto;
  border: 1px black dashed;
}

.hot {
  overflow: hidden;
  flex-grow: 1;
}
